.card {
  background-color: #fff;
  color: var(--clr-1);
  border-radius: var(--b-radius);
  padding: 20px;
  margin: 20px auto;
  box-shadow: var(--dark-shadow);
  max-width: 500px;
}

.card.alt {
  background-color: var(--clr-3);
  color: var(--clr-5);
}
