.footer {
  background-color: var(--clr-2);
  padding: 15px 0;
  text-align: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .social a {
  padding: 0 10px;
}
