@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
  --clr-1: #050832;
  --clr-2: #2a2e70;
  --clr-3: #6f73ad;
  --clr-4: #c4d6ff;
  --clr-5: #ecf2ff;
  --clr-success: #157729;
  --clr-danger: #c13131;
  --b-radius: 10px;
  --l-spacing: 0.1rem;
  --dark-shadow: 2px 6px 6px rgba(0, 0, 0, 0.25);
  --light-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s linear;
  --f-family: 'Ubuntu', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--f-family);
  line-height: 1.6;
  color: var(--clr-1);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-3);
  text-transform: capitalize;
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 15px;
}

a:hover {
  color: var(--clr-4);
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 30px;
}

@media (max-width: 550px) {
  .container {
    padding: 0 15px;
  }
}

.container-sm {
  margin: 20px auto;
  padding: 15px 20px;
  max-width: 500px;
}
